<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand " href="#">Twitter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/feed">Feeds</a>
          <a class="nav-link active" routerLink="/myTweets">My tweets</a>
        </div>

      </div>
      <span class="navbar-text text-white">Hello {{user}}</span>
      <div class="navbar-nav ms-4">
        <a class="nav-link active text-danger fw-bold fs-5" href="" (click)="logout" aria-current="page">Logout</a>
      </div>
      
    </div>
  </nav>
