#loadingScr {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8rem;
    height: 8rem;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1rem solid black;
    display: none;
}