<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1>Sign Up</h1>
                    <h3>Enter your details</h3>
                </div>
                <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm.valid)"
                    class="row g-3 needs-validation">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <label for="" class="form-label">Enter your name</label>
                        <input type="text" name="name" [(ngModel)]="user.name" id="" class="form-control"
                            [required]="true">
                        <div class="invalid-feedback">
                            Please enter your name
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <label for="" class="form-label">Enter date of birth</label>
                        <input type="date" name="dob" [(ngModel)]="user.dob" id="" class="form-control"
                            [required]="true">
                        <div class="invalid-feedback">
                            Please enter your date of birth
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <label for="" class="form-label">Enter your phone number</label>
                        <input type="tel" name="phone" [(ngModel)]="user.phone" id="" class="form-control"
                            maxlength="10" pattern="[1-9]{1}[0-9]{9}" [required]="true">
                        <div class="invalid-feedback">
                            Please enter correct phone number
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                        <label for="" class="form-label">Enter your Place</label>
                        <input type="text" name="place" [(ngModel)]="user.place" id="" class="form-control"
                            [required]="true">
                        <div class="invalid-feedback">
                            Please enter your place
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                        <label for="" class="form-label">Enter your email</label>
                        <input type="email" name="email" [(ngModel)]="user.email" id="" class="form-control"
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" [required]="true">
                        <div class="invalid-feedback">
                            Please enter a valid email address
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Create your Password</label>
                        <input type="password" name="password" [(ngModel)]="user.password" id="password"
                            class="form-control" (ngModelChange)="confirmPassword()" minlength="6" [required]="true">
                        <div class="invalid-feedback" [style.display]="passwordFilter">
                           Please enter valid password
                           <ul>
                            <li>Should contain atleast 6 characters</li>
                           </ul>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Confirm your Password</label>
                        <input type="password" name="confirmPass" [(ngModel)]="user.confrimPass" id="confirmPass"
                            class="form-control" (ngModelChange)="confirmPassword()" minlength="6" [required]="true">
                        <div class="form-text text-danger" [style.display]="passwordDisp">
                            Password mismatch
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <button type="submit" [disabled]="!passwordMatch" class="btn btn-dark">Signup</button>
                    </div>
                </form>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a href="" routerLink="/">Already a user? Click here</a>
                </div>
            </div>
        </div>
    </div>
</div>